body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.general_info{
  border: 2px solid black;
  width: 40%;
  margin: auto;
}
.general_info h2{
  text-align: center;
}
.general_info form{
  display: flex;
  flex-direction: column;
}
.general_info form button{
  background-color:green
  color( red green blue)
}
.educational_info{
  width: 40%;
  margin: auto;
  border: 2px solid black;
}
.educational_info h2{
  text-align: center;
}
.educational_info form{
  display: flex;
  flex-direction: column;
}
.practical_info{
  width: 40%;
  margin: auto;
border: 2px solid black;
}
.practical_info form{
  display: flex;
  flex-direction: column;
}
.practical_info  button{
  width: 30%;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
}