body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  border: 2px solid black;
}
.general_info{
  border: 2px solid red;
  width: 40%;
  margin: auto;
}
.general_info h2{
  text-align: center;
}
.general_info form{
  display: flex;
  flex-direction: column;
}
.general_info form button{
  background-color:green
  color( red green blue)
}